<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

  <title>GFB.io</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="./styles/index.css">


	<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.22/webcomponents.min.js"></script>

	<!-- Web Components -->
	<link rel="import" href="/assets/components/gfb-header.html">
</head>
<body>

	<gfb-header data-current="1"></gfb-header>

  <main class="main tools-container" role="main">
    <section class="contents content-image-size-calculator">
      <h1>入力</h1>

      <p class="term-title">サイズ</p>

      <div class="input-data clearfix">
        <div class="manual-input">
          <div class="input-wrapper  mdl-textfield mdl-js-textfield">
            <input class="width-value value-input  mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="input-width">
            <label class="mdl-textfield__label" for="input-width">Width</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
          <span class="conjunction">×</span>
          <div class="input-wrapper  mdl-textfield mdl-js-textfield">
            <input class="height-value value-input  mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="input-height">
            <label class="mdl-textfield__label" for="input-height">Height</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>

        <div class="image-input">
          <div class="image-dnd">Drag & Drop</div>
        </div>
      </div>
    </section>

    <section class="contents content-target">
      <h2>変更値</h2>
      <div class="input-wrapper mdl-textfield mdl-js-textfield">
        <input type="text" class="target-width-value target-value-input  mdl-textfield__input" pattern="-?[0-9]*(\.[0-9]+)?" id="target-width">
        <label class="mdl-textfield__label" for="target-width">Width</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
      <span class="conjunction">or</span>
      <div class="input-wrapper mdl-textfield mdl-js-textfield">
        <input type="text" class="target-height-value target-value-input  mdl-textfield__input" pattern="-?[0-9]*(\.[0-9]+)?" id="target-height">
        <label class="mdl-textfield__label" for="target-height">Height</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
      <span class="conjunction">or</span>
      <div class="input-wrapper mdl-textfield mdl-js-textfield">
        <input type="text" class="target-percentage-value target-value-input  mdl-textfield__input" pattern="-?[0-9]*(\.[0-9]+)?" id="target-percentage">
        <label class="mdl-textfield__label" for="target-percentage">Percentage</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
    </section>

    <section class="contents content-result">
      <section class="section-result">
        <h1>結果</h1>

        <p class="result-container">
          Width: <span class="result-width-value">0</span>
          <span class="conjunction">×</span>
          Height: <span class="result-height-value">0</span>
        </p>
      </section>

      <section class="section-preview">
        <h1>画像のプレビュー</h1>
        <p class="preview-list"></p>
      </section>
    </section>
  </main>

  <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
  <script src="./scripts/index.js"></script>
</body>
</html>
