<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>

	<script src="https://cdn.rawgit.com/download/polymer-cdn/1.5.0/lib/webcomponentsjs/webcomponents-lite.min.js"></script>
	<script src="https://npmcdn.com/skatejs-named-slots/dist/index-with-deps.min.js"></script>

  <!-- Web Components -->
	<link rel="import" href="./src/gfb-header.html">
</head>
<body>

<gfb-header data-current="0"></gfb-header>

</body>
</html>
