.global-header ul {
  padding: 0;
  margin: 0;
}

.global-header li {
  list-style: none;
}

.global-header .header-main {
  height: 60px;
  text-align: left;
  line-height: 60px;
  font-size: 1.5rem;
  padding-left: 30px;
}

.global-header .menu-list {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.global-header .menu-list-item {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  height: 45px;
}

.global-header .menu-list-item a {
  display: block;
  line-height: 45px;
  height: 45px;
  padding: 0;
}
